@model ProjectLibrary.Data.Stuff


<script src="~/Scripts2/jquery-3.3.1.js"></script>
<h3>
    Bu personeli silmek istiyor musunuz? = @Html.DisplayFor(model => model.StuffName) ?
</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <input id="Btn1" type="submit" value="Sil" class="btn btn-danger" />
        <a href="/Stuff/Index" class="btn btn-info">Personel Listesine Geri Dön</a>
    </div>

}
<script>
        $('#Btn1').click(function () {
            alert("Personel başarılı bir şekilde silindi")
        });
</script>