<div>
    <div class="login-form login-form-left">
        <div class="agile-row">
            <h3>Yeni Üye Kaydı</h3>
            <div class="login-agileits-top">
                <form method="post">
                    <input type="text" class="name" name="StuffName" Placeholder="Adınız" required="" />
                    <input type="text" class="name" name="StuffSurname" Placeholder="Soyadınız" required="" />
                    <input type="text" class="name" name="NickName" Placeholder="Nick" required="" />
                    <input type="password" class="password" name="Password" Placeholder="Şifre" required="" />
                    <input type="text" class="name" name="Email" Placeholder="EMail" required="" />
                    <input type="text" class="name" name="DateOfBirth" Placeholder="Doğum günü tarihi" required="" />
                    <input type="text" class="name" name="DateOfHiring" Placeholder="İşe giriş tarihi" required="" />
                    <div class="login-check">
                        <label class="checkbox" style="background-color:white">
                            <input type="checkbox" name="checkbox" checked=""><i>
                            </i> Kuralları okudum<a href="#"> &amp; Kabul Ediyorum</a>
                        </label>
                    </div>
                    <input type="submit" value="Kaydol">
                </form>
            </div>
        </div>
    </div>
</div>
