@model System.Collections.Generic.IEnumerable<ProjectLibrary.Data.Book>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/thumberr/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/thumberr/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/thumberr/css/magnific-popup.css">
    <link rel="stylesheet" href="~/thumberr/css/jquery-ui.css">
    <link rel="stylesheet" href="~/thumberr/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/thumberr/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/thumberr/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/thumberr/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/thumberr/css/aos.css">
    <link rel="stylesheet" href="~/thumberr/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="~/thumberr/css/fancybox.min.css">
    <link rel="stylesheet" href="~/thumberr/css/swiper.min.css">
    <link rel="stylesheet" href="~/thumberr/css/style.css">

</head>
<body>
    <br />

    <div class="site-wrap">

        <main class="main-content">

            <div class="container-fluid photos">
                <div class="row align-items-stretch">
                    @foreach (var x in Model)
                    {
                        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                            <a href="@x.Image" class="d-block photo-item" data-fancybox="gallery">

                                <img src="@x.Image" />
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            </a>
                        </div>
                    }
                </div>

            </div>

        </main>
    </div> <!-- .site-wrap -->

    <script src="~/thumberr/js/jquery-3.3.1.min.js"></script>
    <script src="~/thumberr/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/thumberr/js/jquery-ui.js"></script>
    <script src="~/thumberr/js/popper.min.js"></script>
    <script src="~/thumberr/js/bootstrap.min.js"></script>
    <script src="~/thumberr/js/owl.carousel.min.js"></script>
    <!-- <script src="js/jquery.stellar.min.js"></script> -->
    <script src="~/thumberr/js/jquery.countdown.min.js"></script>
    <script src="~/thumberr/js/jquery.magnific-popup.min.js"></script>
    <script src="~/thumberr/js/bootstrap-datepicker.min.js"></script>
    <script src="~/thumberr/js/aos.js"></script>
    <script src="~/thumberr/js/jquery.fancybox.min.js"></script>
    <script src="~/thumberr/js/swiper.min.js"></script>
    <script src="~/thumberr/js/jquery.scrollbar.js"></script>
    <script src="~/thumberr/js/main.js"></script>


</body>
</html>


